.left
  = render :template => "groups/index"
.right
  .group
    .name
      = @group.name
      = link_to edit_group_path(@group), class: 'get' do
        %button#1{ :class =>"button_1", :placeholder => "edit", :type =>"edit"} edit
  .chat
    .chatsample1
      .p1 Member1
      .p2 sample text...1
    .chatsample2
      .p1 Member2
      .p2 sample text...2
  .type
    %input#type{ class:"input_type", placeholder:"Type a message",type:"text"}/
    %i.fa.fa-picture-o{"aria-hidden" => "true"}
    %button#type2{ class: "button_type2",placeholder: "send", type:"sent"} send


