.left
  .left__header
    .left__header__user
      = current_user.name
    .left__header__icon
      =link_to new_group_path, class: 'get' do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      = link_to edit_user_path(current_user.id), class: 'post' do
        %i.fa.fa-cog
  -current_user.groups.each do |e|
    .left__sample
      .left__sample__text
        .p1
          = link_to group_messages_path(e.id),class: 'post' do
            = e.name
