.chat-group-form
  %h1 新規チャットグループ
  =form_for @group do |g|
    .chat-group-form__errors
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =g.label "グループ名", for: "chat_group_name", class: "chat-group-form__label"
      .chat-group-form__field--right
        =g.text_field :name, name: "group[name]" , placeholder: "グループ名を入力してください", type: "text", class: "chat_group_name.chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =g.label "チャットメンバーを追加", for: "chat_group_name", class: "chat-group-form__label"
      .chat-group-form__field--right
        %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
      #user-search-result
      #chat-group-users
        %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
        %p.chat-group-user__name チャットメンバー
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = g.submit data: {disable_with: "Save"}, name: "commit", value: "Save", class: "chat-group-form__action-btn"
