html,body{
  height:100vh;
  font-family: sans-serif;
}

$base:#FFDEAD;
$leftheader:#FAEBD7;
$flush:#F08080;
$left:#E9967A;
$main:#e7d8ca;

// *----------------------sidebar--------------------*//

.left{
  background-color:$left;
  width:300px;
  height:800px;
  float:left;

  &__header{
  background-color:$leftheader;
  width:300px;
  height:120px;
  font-size:16px;
  float:left;

    &__user{
    margin-left:20px;
    padding-top:20px;
    float:left;
    width:100px;
    height:50px;
    }
    &__icon{
    margin-left:20px;
    padding-top:20px;
    float:left;
    float:right;
    width:100px;
    height:50px;
    }
  }

  &__sample{
  width:100%;
  height:100px;
  float:left;
  text-align: center;
  padding-top:20px;
  }
}
//-------------------Group Messages------------------//
.right{
  float:right;
  background-color:$base;
  width:calc(100% - 300px);
  height:800px;
  position: relative;
  .group{
  background-color:#E9967A;
  height:120px;
  position: relative;
    .name{
    float:left;
    font-size:30px;
    margin: 30px 30px 30px 30px;
    }
    .button_1{
    float:right;
    margin-left:700px;
    background-color: white;
    color:#F08080;
    width:60px;
    height:40px;
    padding-left:20px;
    padding-right:20px;
    border-radius:5%;
    box-shadow:none;
    text-align:center;
    border-color:#F08080;

    }
  }
  .chat{
  float:left;
    .chatsample1{
    height:100px;
      .p1{
      font-size:20px;
      margin-top:20px;
      padding-left:15px;
      }
      .p2{
      font-size:10px;
      padding-top:15px;
      padding-left:15px;
      }
    }
    .chatsample2{
    height:100px;
      .p1{
      font-size:20px;
      margin-top:20px;
      padding-left:15px;
      }
      .p2{
      font-size:10px;
      padding-top:15px;
      padding-left:15px;
      }
    }
  }
  .type{
  background-color:$leftheader;
  width:100%;
  max-height:100px;
  position:absolute;
  bottom:0;
    .input_type{
    background-color: white;
    width:600px;
    height:50px;
    margin:10px 0px 10px 10px;
    }
    .fa.fa-picture-o{
    text-align:center;
    padding-top:15px;
    background-color: white;
    height:40px;
    width:30px;
    font-size:20px;
    margin:10px 0px 0px 0px;
    }
    .button_type2{
    background-color:$flush;
    color:white;
    height:50px;
    width:80px;
    text-align: center;
    float:right;
    margin:10px 30px 0px 10px;
    border-radius:5%;
    box-shadow:none;
    font-size:20px;
    }
  }
}
